#header {
  background-color: #1d7a99;
  text-align: center;
  color: white;

}

img {
    height: 300px;
    width: 300px;
}

.title {
    font-family: sans-serif;
}

body {
    background-image: url("../confectionary.png");
}

.logo {
    height: 100px;
    width: 100px;
    display: inline;
}

h1 {
    display: inline-block;
}